
{% load static %}

{% block content %}
<div class="container">
    <div class="terms-container">
        <h1 class="terms-title">Aceptar Términos y Condiciones</h1>
        <p class="terms-intro">Al hacer clic en "Volver", se cerrará la sesión actual.</p>
        <div class="terms-content">
            <h2>Términos y Condiciones</h2>
            {{ terminos.texto|safe }}
        </div>

        <div class="back-button-container">
            <button type="button" id="back-button" class="btn btn-secondary">Volver</button>
        </div>
    </div>
</div>

<script>
    document.getElementById('back-button').addEventListener('click', function() {
        window.location.href = '{% url "logout" %}';
    });
</script>
{% endblock %}