<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}CTInnovate Technology{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'inicio' %}">Inicio</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'crear_comunidad' %}">Crear Comunidad</a></li>
          <li><a href="{% url 'crear_proyecto' %}">Crear Proyecto</a></li>
          <li><a href="{% url 'crear_desafio' %}">Crear Desafío</a></li>
          <li>
            <a href="{% url 'perfil_usuario' user.username %}">Mi Perfil</a>
          </li>
          <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
          <li><a href="{% url 'registrar' %}">Registrarse</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>&copy; 2023 CTInnovate Technology</p>
    </footer>
  </body>
</html>
