{% extends 'base.html' %}

{% block content %}
  <h1>Resultados de la búsqueda</h1>
  <h2>Usuarios</h2>
  <ul>
    {% for usuario in usuarios %}
      <li><a href="{% url 'perfil_usuario' usuario.username %}">({{ usuario.first_name }} {{ usuario.last_name }})</a></li>
    {% endfor %}
  </ul>
  <h2>Comunidades</h2>
  <ul>
    {% for comunidad in comunidades %}
      <li>{{ comunidad.nombre }} </li>
    {% endfor %}
  </ul>
  <h2>Proyectos</h2>
  <ul>
    {% for proyecto in proyectos %}
      <li>{{ proyecto.titulo }} </li>
    {% endfor %}
  </ul>
  <h2>Desafíos</h2>
  <ul>
    {% for desafio in desafios %}
      <li>{{ desafio.titulo }} </li>
    {% endfor %}
  </ul>
{% endblock %}