{% load static %}

<body>
  <main>

  <h1>Resultados de la búsqueda</h1>
  <h2>Usuarios</h2>
  <ul>
    {% for usuario in usuarios %}
      <li>
        {% if usuario.perfil %}
          <img src="{{ usuario.perfil.foto_perfil.url }}" alt="Foto de perfil" width="50" height="50">
        {% endif %}
        <span>
          <a href="{% url 'perfil_usuario' usuario.username %}">{{ usuario.puntos }} {{ usuario.first_name }} {{ usuario.last_name }}</a>
        </span>
      </li>
    {% endfor %}
  </ul>
<h2>Comunidades</h2>
<ul>
  {% for comunidad in comunidades %}
    <li><a href="{% url 'detalle_comunidad' comunidad.id %}">{{ comunidad.nombre }}</a></li>
  {% endfor %}
</ul>

<h2>Proyectos</h2>
<ul>
  {% for proyecto in proyectos %}
    <li><a href="{% url 'detalle_proyecto' proyecto.id %}">{{ proyecto.titulo }}</a></li>
  {% endfor %}
</ul>

<h2>Desafíos</h2>
<ul>
  {% for desafio in desafios %}
    <li><a href="{% url 'detalle_desafio' desafio.id %}">{{ desafio.titulo }}</a></li>
  {% endfor %}
</ul>
</main>
</body>


{% include 'header.html' %}
{% include 'footer.html' %}
<style>
  body {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main{
    flex: 1;
  }
</style>

