{% load static %}
<body>
  <main>
  <h1>Buscar usuarios</h1>
  <ul>
    {% for usuario in usuarios %}
  <li>
    {{ usuario.username }}
    {% if sigue_a.usuario %}
      <a href="{% url 'dejar_de_seguir_usuario' usuario.id %}">Dejar de seguir</a>
    {% else %}
      <a href="{% url 'seguir_usuario' usuario.id %}">Seguir</a>
    {% endif %}
  </li>
{% endfor %}
  </ul>
  </main>
</body>

{% include 'header.html' %}
{% include 'footer.html' %}
<style>
  body {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main{
    flex: 1;
  }
</style>
