{% load static %}
<body>
<main>
    <div class="chat-container">
        <h1 class="fw-bold" style="text-align: center; margin-bottom: 20px;">Chat con {{ receptor.first_name }} {{ receptor.last_name }}</h1>
        <div id="chat-messages" class="chat-messages dorado">
            {% for mensaje in mensajes %}
                <div class="message {% if mensaje.emisor == request.user %}sent{% else %}received{% endif %}" data-id="{{ mensaje.id }}">
                    <a href="{% url 'perfil_usuario' mensaje.emisor.username %}" class="author-name">{{ mensaje.emisor.first_name }} {{ mensaje.emisor.last_name }}{% if mensaje.emisor == request.user %} (Yo){% endif %}:</a>
                    {{ mensaje.contenido }}
                    <small class="message-time">
                        (Enviado: {{ mensaje.fecha_envio|date:"d/m/Y, H:i:s" }})
                        <span class="read-status message-time">
                            {% if mensaje.leido %}
                                (Leído: {{ mensaje.fecha_lectura|date:"d/m/Y, H:i:s" }})
                            {% endif %}
                        </span>
                    </small>
                </div>
            {% endfor %}
            <div class="scroll-to-bottom-btn" id="scroll-to-bottom-btn" title="Ir al fondo">
                <img src="{% static 'images/bajar.svg' %}" alt="Ir al fondo">
            </div>
        </div>
        <div class="chat-input dorado rounded">
            <input type="text" id="chat-message-input" placeholder="Escribe un mensaje...">
            <button id="chat-message-submit">Enviar</button>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'perfil_usuario' request.user.username %}" class="btn btn-primary">Volver</a>
    </div>
    <br>
</main>
</body>

<script>
    const roomName = '{{ room_name }}';
    const username = '{{ request.user.username }}';
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    function formatDate(dateString) {
        const date = new Date(dateString);
        return date.toLocaleString('es-ES', { 
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            hour12: false
        });
    }

    chatSocket.onopen = function(e) {
        console.log('WebSocket connection established');
    };

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.type === 'chat_message') {
            const messageElement = document.createElement('div');
            messageElement.classList.add('message');
            messageElement.classList.add(data.username === username ? 'sent' : 'received');
            messageElement.dataset.id = data.id;
            const fechaFormateada = formatDate(data.fecha_envio);
            messageElement.innerHTML = `
                <strong>${data.username}:</strong> 
                ${data.message}
                <small class="message-time">
                    (Enviado: ${fechaFormateada})
                    <span class="read-status"></span>
                </small>
            `;
            document.querySelector('#chat-messages').appendChild(messageElement);
            // Si el mensaje es recibido, márcalo como leído
            if (data.username !== username) {
                chatSocket.send(JSON.stringify({
                    'type': 'mark_as_read'
                }));
            }
            // Desplazar al fondo del chat
            scrollToBottom();
        } else if (data.type === 'messages_marked_as_read') {
            data.message_ids.forEach(id => {
                const messageElement = document.querySelector(`.message[data-id="${id}"]`);
                if (messageElement) {
                    const readStatusElement = messageElement.querySelector('.read-status');
                    const fechaFormateada = formatDate(data.fecha_lectura);
                    readStatusElement.textContent = `(Leído: ${fechaFormateada})`;
                }
            });
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'type': 'chat_message',
            'message': message,
            'username': username
        }));
        messageInputDom.value = '';
        // Desplazar al fondo del chat
        scrollToBottom();
    };

    window.onfocus = function() {
        chatSocket.send(JSON.stringify({
            'type': 'mark_as_read'
        }));
    };

    window.onbeforeunload = function() {
        chatSocket.close();
    };

    function checkUnreadMessages() {
        chatSocket.send(JSON.stringify({
            'type': 'mark_as_read'
        }));
    }

    setInterval(checkUnreadMessages, 5000);

    function autoRefresh() {
        const messageInputDom = document.querySelector('#chat-message-input');
        if (messageInputDom.value === '') {
            // Guardar la posición de desplazamiento antes de recargar
            localStorage.setItem('scrollPosition', document.querySelector('#chat-messages').scrollTop);
            location.reload();
        }
    }

    setInterval(autoRefresh, 7000);

    function scrollToBottom() {
        const chatMessages = document.querySelector('#chat-messages');
        chatMessages.scrollTop = chatMessages.scrollHeight;
        toggleScrollButton();
    }

    function toggleScrollButton() {
        const chatMessages = document.querySelector('#chat-messages');
        const scrollButton = document.getElementById('scroll-to-bottom-btn');
        
        if (chatMessages.scrollTop + chatMessages.clientHeight < chatMessages.scrollHeight - 20) {
            scrollButton.style.display = 'block';
        } else {
            scrollButton.style.display = 'none';
        }
    }

    document.getElementById('scroll-to-bottom-btn').addEventListener('click', function() {
        scrollToBottom();
    });

    document.querySelector('#chat-messages').addEventListener('scroll', toggleScrollButton);

    // Restaurar la posición de desplazamiento después de recargar
    window.onload = function() {
        const scrollPosition = localStorage.getItem('scrollPosition');
        if (scrollPosition) {
            document.querySelector('#chat-messages').scrollTop = scrollPosition;
        }
        toggleScrollButton();
    };

    // Llamar a toggleScrollButton inicialmente y cada segundo
    toggleScrollButton();
    setInterval(toggleScrollButton, 1000);

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
</script>

{% include 'header.html' %}
{% include 'footer.html' %}
<style>
    .dorado{
        border:2px solid #fcc350 !important;
      }
    .chat-container {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
    
    .chat-messages {
        max-height: 400px;
        overflow-y: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        background: white;
    }
    
    .scroll-to-bottom-btn {
        position: absolute;
        bottom: 102px;  /* Ajusta este valor según sea necesario */
        right: 37px;
        display: none;
        color: white;
        border: none;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        z-index: 1000;
    }
    
    .scroll-to-bottom-btn img {
        width: 55px;
        height: 55px;
    }
    
    .chat-input {
        display: flex;
        margin-top: 10px;
    }
    
    .chat-input input {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
    }
    
    .chat-input button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
    
    .chat-input button:hover {
        background-color: #0056b3;
    }

    body {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
    
    main{
        flex: 1;
    }

    .message {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    .sent {
        background-color: #B9F2F7;
        text-align: right;
    }

    .received {
        background-color: #f0f0f0;
    }
    .message-time {
        font-size: 0.8em;
        color: #888;
    }
</style>
