{% extends "admin/base_site.html" %}
{% block content %}

<h2>Resultados del Concurso Actual</h2>

<p>Concurso: {{ concurso.nombre }}</p>
<p>Fecha de inicio: {{ concurso.fecha_inicio }}</p>
<p>Fecha de fin: {{ concurso.fecha_fin }}</p>

<h3>Ganador:</h3>
<p>{{ resultado_concurso.nombre }}</p>

<h3>Ranking Individual:</h3>
<table>
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Ranking</th>
        </tr>
    </thead>
    <tbody>
        {% for resultado_individual in resultados %}
        <tr>
            <td>{{ resultado_individual.nombre }}</td>
            <td>{{ resultado_individual.puntos }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'admin:index' %}">Regresar al panel de administración</a>

{% endblock %}
