{% load static %}


<body>
    <main>
<div class="login-container">
    <h1>Crear Nuevo Reto</h1>
    <form method="post" enctype="multipart/form-data" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.titulo.label }} {{ form.titulo }}
        </div>
        <div class="form-group">
            {{ form.descripcion.label }} {{ form.descripcion }}
        </div>
        <div class="form-group">
            {{ form.fecha_inicio.label }}
            <input type="datetime-local" name="fecha_inicio" id="id_fechainicio" />
        </div>
        <div class="form-group">
            {{ form.fecha_fin.label }} 
            <input type="datetime-local" name="fecha_fin" id="id_fechafin" />
        </div>
        <select id="tipo_desafio" name="tipo_desafio">
            <option value="votacion" {% if form.tipo_desafio.value == 'votacion' %}selected{% endif %}>Votación</option>
            <option value="donacion" {% if form.tipo_desafio.value == 'donacion' %}selected{% endif %}>Donación</option>
        </select>
        <div id="montos" style="display:block;">
            <div class="form-group normal-nums">
                {{ form.objetivo_monto.label }} {{ form.objetivo_monto }}
            </div>
            <div class="form-group">
                {{ form.min_monto.label }} {{ form.min_monto }}
            </div>
            <div class="form-group">
                {{ form.max_monto.label }} {{ form.max_monto }}
            </div>
        </div>
        <script>
            document.getElementById('tipo_desafio').addEventListener('change', function() {
                var montosDiv = document.getElementById('montos');
                if (this.value === 'votacion') {
                    montosDiv.style.display = 'none';
                } else {
                    montosDiv.style.display = 'block';
                }
            });
        </script>
  
    
       
        <button type="submit" class="btn btn-primary">Crear Desafío</button>
    </form>
</div>
</main>
</body>

{% include 'header.html' %}
{% include 'footer.html' %}
<style>
  body {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main{
    flex: 1;
  }
</style>
