{% load static %}

<body>
  <main>
    <div class="container mt-5 p-4 bg-white shadow rounded dorado">
        <h1 class="text-center mb-4 fw-bold">Solicitar Nueva Comunidad</h1>
        <hr class="community-divider">
        <br>

        <form method="post">
            {% csrf_token %}
            <div class="form-group fw-bold">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" value="{{ request.user.comunidad.nombre }}">
            </div>
            <br>
            <div class="form-group fw-bold">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" class="form-control" rows="3">{{ request.user.comunidad.descripcion }}</textarea>
            </div>
            <br>
            <div class="form-group fw-bold">
              <label for="publica">¿Es pública?</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="publica" name="publica" value="true">
                <label class="form-check-label" for="publica">
                  Sí
                </label>
              </div>
            </div>
            <div class="form-group fw-bold">
              <label for="publica">¿Aceptará donaciones?</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acepta_donaciones" name="acepta_donaciones" value="True">
                <label class="form-check-label" for="acepta_donaciones">
                  Sí
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Solicitar</button>
        </form>
    </div>
    <div class="text-center mt-4">
      <a href="#" onclick="history.back()" class="btn btn-primary">Volver</a>
    </div>
    <br>
</main>

{% include 'header.html' %}
{% include 'footer.html' %}
<style>
  .dorado{
      border:2px solid #fcc350 !important;
    }
    .community-divider {
      width: 100%;
      border: 1px solid #fcc350;
      height: 1px;
      background: #ddd;
      margin: 10px 0;
    }
    body {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  
    main{
      flex: 1;
    }

  .container {
      padding: 20px;
      box-sizing: border-box;
  }

  h2 {
      color: #2c3e50;
      padding-bottom: 10px;
  }

  .btn {
      transition: background-color 0.3s ease;
  }

  .btn:hover {
      background-color: #3498db;
      color: white;
  }

  .btn-secondary {
      background-color: #ecf0f1;
      border-color: #bdc3c7;
  }
</style>
</body>
</html>
