{% load static %}

<body>
    <main>
        <div class="container mt-5 p-4 bg-white shadow rounded dorado" style="width: 80%;">
            <h1 class="fw-bold text-center mb-4">Crear Publicación</h1>
            <hr class="community-divider">
            <br>

            <form method="post" enctype="multipart/form-data" class="login-form">
                {% csrf_token %}
                <div class="row justify-content-center" >
                    <div class="col-md-8 "style="width: 100%;">
                        <div class="mb-3">
                            <label for="contenido" class="form-label">Contenido:</label>
                            <textarea id="contenido" name="contenido" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="imagen" class="form-label">Imagen:</label>
                            <input type="file" id="imagen" name="imagen" class="form-control" accept="image/*">
                        </div>
                        <div class="mb-3">
                            <select id="tematica" name="tematica" class="form-select">
                            {% for tematica in tematicas %}
                                <option value="{{ tematica.nombre }}">{{ tematica }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Crear Publicación</button>
            </form>
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'detalle_comunidad' comunidad %}" class="btn btn-primary">Volver</a>
        </div>
        <br>
    </main>
</body>

{% include 'header.html' %}
{% include 'footer.html' %}

<style>
    .dorado{
        border:2px solid #fcc350 !important;
    }
    .community-divider {
        width: 100%;
        border: 1px solid #fcc350;
        height: 1px;
        background: #ddd;
        margin: 10px 0;
    }
    body {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    main{
        flex: 1;
    }
    .container {
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
    }
    h1 {
        color: #2c3e50;
        padding-bottom: 10px;
    }
    .btn {
        transition: background-color 0.3s ease;
    }
    .btn:hover {
        background-color: #3498db;
        color: white;
    }
    .btn-secondary {
        background-color: #ecf0f1;
        border-color: #bdc3c7;
    }
    .form-label {
        font-weight: bold;
    }
</style>
