{% load static %}

<body>
<main>
<div style="display: flex;">
    <div style="flex: 1;">
        <h2>Hacer una Donación</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar Donación</button>
        </form>
    </div>
    <div style="flex: 1; text-align: center;">
        {% if qr.qr_code %}
            <img src="{{ qr.qr_code.url }}" alt="QR Code" style="max-width: 100%;">
        {% endif %}
        {% if qr.numero_cuenta %}
            <p>Número de Cuenta: {{ qr.numero_cuenta }}</p>
        {% endif %}
    </div>
</div>

<a href="{% url 'detalle_campaign' campaign.pk%}">Volver</a>


</main>
</body>

{% include 'header.html' %}
{% include 'footer.html' %}
<style>
  body {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main{
    flex: 1;
  }
</style>
