{% load static %}

{% include 'header.html' %}
<body>
    <main>
<div class="container mt-5">
    <div class="card dorado">
        <div class="card-body">
    <h1 class="card-title fw-bold text-center">{{ campaign.desafio.titulo }}</h1>
    <hr class="community-divider">
    <p>{{ campaign.desafio.descripcion }}</p>



    <br>
    {% if request.user != campaign.desafio.creador and tipo %}
        {% if not lleno %}
        <a href="{% url 'guardar_donacion' campaign.desafio.slug %}" class="btn btn-secondary" style="margin-bottom: 10px;">Realizar donación</a>
        {% else %}
        <p class="m-2 text-muted">El monto objetivo de donaciones para esta campaña ya está satisfecho.</p>
        {% endif %}
    {% endif %}
    <div class="respuesta card m-2 rounded">
    <h2 class="card-title fw-bold text-center m-2">Respuestas:</h2>


            {% for respuesta in campaign.respuestas %}
                <div class="respuesta card-body dorado rounded m-3">
                    <div class="member-item">
                        {% if respuesta.autor.perfilusuario.foto_perfil %}
                        <div class="author-info">
                            <img src="{{ respuesta.autor.perfilusuario.foto_perfil.url }}" alt="Foto de {{ respuesta.autor.username }}" class="profile-picture">
                        {% endif %}
                            <a href="{% url 'perfil_usuario' respuesta.autor.username %}" class="author-name">{{ respuesta.autor.first_name }} {{ respuesta.autor.last_name }}</a>
                        </div>{{ respuesta.respuesta }}
                    </div>
                    <form action="{% url 'like_respuesta' campaign.desafio.id respuesta.id%}" method="POST">
                        {% csrf_token %}
                        <div class="">

                    <hr class="community-divider">
            <button type="submit" class="like-icon" style="background: transparent;">
                {% if user in desafio.likes.all %}
                    <img src="{% static 'images/unlike.svg' %}" class="like-icon">
                {% else %}
                    {% if respuesta in like_respuestas %}
                        <img src="{% static 'images/unlike.svg' %}" class="like-icon">
                    {% else %}
                        <img src="{% static 'images/like.svg' %}" class="like-icon">
                    {% endif %}
                {% endif %}
            </button>
                    </form>
                    <p class="puntuacion">Puntos: <span class="puntos-valor">{{ respuesta.likes_total }}</span> </p>
                </div>
            </div>
            {% empty %}
                <p class="m-2 text-muted">No hay respuestas aún.</p>
            {% endfor %}


    {% if request.user == campaign.desafio.creador %}
        <br>
        <p class="m-2 text-warning"> Eres el creador de la campaña, no puedes responder.</p>
        <br>
    {% elif campaign_activa %}

    <div class="card-footer rounded">
        <form method="post">
            {% csrf_token %}
            <textarea name="respuesta" placeholder="Escribe tu respuesta..." style="width: 100%; margin-bottom: 15px; margin-top: 10px;"></textarea>
            <div class="align-content-end">
            <button type="submit">Enviar respuesta</button>
            </div>
        </form>
    {% else %}

        <p class="text-center"> Esta campaña no está activa. No se pueden agregar nuevas respuestas.</p>
    {% endif %}
    </div>
    <div>
    <form action="{% url 'like_desafio' campaign.desafio.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="like-icon" style="background: transparent;">
            {% if user in desafio.likes.all %}
                <img src="{% static 'images/unlike.svg' %}" alt="Quitar Like" class="like-icon">
            {% else %}
                {% if like_campaign %}
                    <img src="{% static 'images/unlike.svg' %}" alt="Dar Like" class="like-icon">
                {% else %}
                <img src="{% static 'images/like.svg' %}" alt="Dar Like" class="like-icon">
                {% endif %}
            {% endif %}
        </button>
        <p>Likes: {{ total_likes }}</p>
    </form>
    </div>
</div>
</div>
</div>
<div class="text-center mt-4">
    <a href="{% url 'detalle_comunidad' campaign.comunidad.slug %}" class="btn btn-primary">Volver</a>
</div>
</div>
<br>
</main>
</body>


{% include 'footer.html' %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ratings = document.querySelectorAll('.rating');
        var isCreador = {{ is_creador|yesno:"true,false" }};

        ratings.forEach(function(rating) {
            var stars = rating.querySelectorAll('.star');
            var respuestaId = rating.dataset.respuestaId;
            var currentRating = parseInt(rating.dataset.puntuacion) || 0;

            function updateStars(value) {
                stars.forEach(function(star, index) {
                    star.classList.toggle('checked', index >= (5 - value));
                });
                rating.nextElementSibling.querySelector('.puntos-valor').textContent = value;
            }

            updateStars(currentRating);

            if (isCreador) {
                stars.forEach(function(star, index) {
                    star.addEventListener('click', function() {
                        var value = 5 - index;

                        fetch(`/puntuar/${respuestaId}/${value}/`, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        }).then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                updateStars(data.puntuacion);
                                currentRating = data.puntuacion;
                            }
                        });
                    });
                });

                rating.addEventListener('mouseleave', function() {
                    updateStars(currentRating);
                });
            }
        });
    });
</script>

<style>
    main{
        flex: 1;
        margin-top: 20px;
      }
      body {
          background-color: #f8f9fa;
          margin-top: 80px;
          display: flex;
          flex-direction: column;
          min-height: 100vh;
      }
      .container {
          max-width: 800px;
          margin: 0 auto;
          padding: 20px;
      }
      .card {
          border: none;
          border-radius: 15px;
          box-shadow: 0 4px 6px rgba(0,0,0,.1);
      }
      .card-img-top {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
      }
      .card-body {
          padding: 20px;
      }
      .card-title {
          font-weight: bold;
      }
      .btn {
          background-color: #007bff;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 30px;
          font-weight: bold;
          transition: background-color 0.3s ease;
      }
      .btn:hover {
          background-color: #0056b3;
      }
      .dorado{
        border:2px solid #fcc350 !important;
      }
        .like-icon {
            background: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
        }

        img.like-icon {
            width: 24px;
            height: 24px;
        }
      .community-divider {
        width: 100%;
        border: 1px solid #fcc350;
        height: 1px;
        background: #ddd;
        margin: 10px 0;
    }

    .promedio-rating {
        display: inline-block;
        position: relative;
        font-size: 1.5em;
    }

    .promedio-stars-outer {
        display: inline-block;
        position: relative;
        unicode-bidi: bidi-override;
        direction: rtl;
        color: #ccc; /* Color de las estrellas vacías */
        width: 5em; /* Ancho para 5 estrellas */
        height: 1em; /* Altura fija */
    }

    .promedio-stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        color: gold; /* Color de las estrellas rellenas */
        width: 0; /* Se actualizará dinámicamente */
        height: 100%;
    }

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: left;
    }
    .rating .star {
        display: inline-block;
        position: relative;
        width: 1.1em;
        font-size: 1.5em;
        cursor: pointer;
        color: #ccc;
    }
    .rating .star.checked,
    .rating:hover .star:hover,
    .rating:hover .star:hover ~ .star {
        color: gold;
    }
    .rating:hover .star {
        color: #ccc;
    }

    .member-item{
        margin-bottom: 2px;
    }

    .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    .author-info {
        flex-grow: 1;
    }

    .author-name {
        font-weight: bold;
        color: #333;
    }
</style>
