{% load static %}

<body>
    <main>
        <div class="container mt-5 p-4 bg-white shadow rounded dorado">
            <h2 class="text-center mb-4 fw-bold">Edita tu perfil y información de cuenta</h2>
            <hr class="community-divider">
            <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 fw-bold">
                        <label for="id_biografia mb-5 ">Biografía:</label>
                        <textarea id="id_biografia" name="biografia" rows="4" class="form-control">{{ request.user.perfilusuario.biografia }}</textarea>
                    </div>
                    <div class="col-md-6 fw-bold">
                        <label for="id_foto_perfil">Foto de perfil:</label>
                        <input accept="image/*" type="file" id="id_foto_perfil" name="foto_perfil" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 fw-bold">
                        <label for="id_first_name">Nombre/s:</label>
                        <input type="text" id="id_first_name" name="first_name" class="form-control" placeholder="{{ request.user.first_name }}" value="{{ request.user.first_name }}">
                    </div>
                    <div class="col-md-6 fw-bold">
                        <label for="id_last_name">Apellido/s:</label>
                        <input type="text" id="id_last_name" name="last_name" class="form-control" placeholder="{{ request.user.last_name }}" value="{{ request.user.last_name }}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 fw-bold">
                        <label for="id_email">Correo electrónico:</label>
                        <input type="email" id="id_email" name="email" class="form-control" placeholder="{{ request.user.email }}" value="{{ request.user.email }}">
                    </div>
                </div><!--
                <div class="row">
                    <div class="col-md-12 fw-bold">
                        <label for="id_email">Contraseña:</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                </div>-->
                <button type="submit" class="btn btn-primary mt-3 w-100">Actualizar perfil y cuenta</button>
            </form>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'perfil_usuario' request.user.username %}" class="btn btn-primary">Volver</a>
        </div>
        <br>
    </main>

{% include 'header.html' %}
{% include 'footer.html' %}

<style>
    .dorado{
        border:2px solid #fcc350 !important;
      }
      .community-divider {
        width: 100%;
        border: 1px solid #fcc350;
        height: 1px;
        background: #ddd;
        margin: 10px 0;
      }
      body {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
    
      main{
        flex: 1;
      }

    .container {
        padding: 20px;
        box-sizing: border-box;
    }

    h2 {
        color: #2c3e50;
        padding-bottom: 10px;
    }

    .btn {
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #3498db;
        color: white;
    }

    .btn-secondary {
        background-color: #ecf0f1;
        border-color: #bdc3c7;
    }
</style>
</body>
</html>
