<nav>
  <ul>
    <li><button><a href="{% url 'inicio' %}">Inicio</a></button></li>
    {% if user.is_authenticated %}
    <li><button><a href="{% url 'crear_comunidad' %}">Crear Comunidad</a></button></li>
    <li><button><a href="{% url 'crear_proyecto' %}">Crear Proyecto</a></button></li>
    <li><button><a href="{% url 'crear_desafio' %}">Crear Desafío</a></button></li>
    <li><button><a href="{% url 'perfil_usuario' user.username %}">Mi Perfil</a></button></li>
    <li><button><a href="{% url 'logout' %}">Cerrar Sesión</a></button></li>
    {% else %}
    <li><button><a href="{% url 'login' %}">Iniciar Sesión</a></button></li>
    <li><button><a href="{% url 'register' %}">Registrarse</a></button></li>
    {% endif %}
  </ul>
</nav>