{% load static %}
<header>
  <nav class="navbar">
    <div class="logo">
      <a href="{% url 'inicio' %}">
        <img src="{% static 'images/logo2.png' %}" alt="CTInnovate Logo"><link rel="stylesheet" >
        <link rel="stylesheet" href="{% static 'css/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
      </a>
    </div>
    <div class="menu-container">
      <button class="menu-toggle" aria-label="Abrir menú">
        <span>h</span>
        <span>j</span>
        <span></span>
      </button>
      <ul class="menu"  style="height: 60px;">
        <li><a href="{% url 'perfil_usuario' user.username %}">
          {% if user.perfilusuario.foto_perfil %}
            <img src="{{ user.perfilusuario.foto_perfil.url }}" alt="Foto de perfil de {{ user.username }}" width="30" height="30" style="object-fit: cover; border-radius: 50%;">
          {% else %}
            <img src="{% static '/../media/fotos_perfil/default_avatar.jpeg' %}" alt="Foto de perfil de {{ user.username }}" width="30" height="30" style="object-fit: cover; border-radius: 50%;">
          {% endif %}
          <span class="texto"></span>
        </a></li>
          <li><a href="{% url 'inicio' %}" ><i  class="fas fa-home "></i><span class="texto">Inicio</span></a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'lista_comunidades' %}"><i class="fas fa-users"></i><span class="texto">Comunidad</span></a></li>
          <li><a href="{% url 'crear_proyecto' %}"><i class="fas fa-project-diagram"></i><span class="texto">Proyecto</span></a></li>
          <li><a href="{% url 'crear_desafio' %}"><i class="fas fa-bolt"></i><span class="texto">Desafios</span></a></li>
          <li><a href="{% url 'ranking' %}"><i class="fas fa-ranking-star"></i><span class="texto">Ranking</span></a></li>
          <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span class="texto"></span></a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i><span class="texto">Iniciar Sesión</span></a></li>
          <li><a href="{% url 'register' %}"><i class="fas fa-user-plus"></i><span class="texto">Registrarse</span></a></li>
        {% endif %}
        <li>
          <form action="{% url 'buscar' %}" method="get">
            <input type="search" name="q" placeholder="Buscar...">
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>