{% load static %}

<body>
    <main>
        <div class="container mt-5 p-4 bg-white shadow rounded dorado">
            <h1 class="text-center fw-bold">Miembros de {{comunidad.nombre}}</h1>
            <hr class="community-divider">
            <br>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% if comunidad.administrador.perfilusuario.foto_perfil %}
                    <div class="col">
                        <div class="card h-100 dorado">
                            <div class="card-body">
                                <div class="author-info d-flex align-items-center">
                                    <img src="{{ comunidad.administrador.perfilusuario.foto_perfil.url }}" alt="Foto de {{ comunidad.administrador.username }}" class="rounded-circle me-3" width="50" height="50">
                                    <div>
                                        <a href="{% url 'perfil_usuario' comunidad.administrador.username %}" class="text-decoration-none text-dark">{{ comunidad.administrador.first_name }} {{ comunidad.administrador.last_name }}</a>
                                        <small class="ms-2" style="color: #ef32f9;">- Administrador de Comunidad</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% for miembro in comunidad.miembros.all %}
                    {% if not miembro == comunidad.administrador %}
                        <div class="col">
                            <div class="card h-100 dorado">
                                <div class="card-body">
                                    <div class="author-info d-flex align-items-center">
                                        {% if miembro.perfilusuario.foto_perfil %}
                                            <img src="{{ miembro.perfilusuario.foto_perfil.url }}" alt="Foto de {{ miembro.username }}" class="rounded-circle me-3" width="50" height="50">
                                        {% endif %}
                                        <div>
                                            <a href="{% url 'perfil_usuario' miembro.username %}" class="text-decoration-none text-dark">{{ miembro.first_name }} {{ miembro.last_name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'detalle_comunidad' comunidad.slug %}" class="btn btn-primary">Volver</a>
        </div>
    </main>

{% include 'header.html' %}
{% include 'footer.html' %}

</body>
</html>


<style>
  body {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main{
    flex: 1;
  }

  .member-item{
    margin-bottom: 2px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.author-info {
    flex-grow: 1;
}

.author-name {
    font-weight: bold;
    color: #333;
}
.dorado{
    border:2px solid #fcc350 !important;
  }
  .community-divider {
    width: 100%;
    border: 1px solid #fcc350;
    height: 1px;
    background: #ddd;
    margin: 10px 0;
  }
</style>
