{% extends 'base.html' %} 
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}

<div class="profile-page">
<div class="user-info" style="display: flex;">
    {% if perfil.foto_perfil %}
      <img src="{{ perfil.foto_perfil.url }}" alt="Foto de perfil de {{ usuario.username }}" width="100" height="100" style="object-fit: cover; border-radius: 50%;">
      <h1 style="margin-left: 10px;">{{ usuario.first_name }} {{ usuario.last_name }}</h1>    
    {% else %}
        <img src="{% static 'img/default_avatar.png' %}" alt="Foto de perfil de {{ usuario.username }}" width="100" height="100">
    {% endif %}
</div>
    

    {% if sigue_a %}
        <a href="{% url 'dejar_de_seguir_usuario' usuario.perfilusuario.id %}" class="btn btn-secondary">Dejar de seguir</a>
    {% else %}
        <a href="{% url 'seguir_usuario' usuario.perfilusuario.id %}" class="btn btn-primary">Seguir</a>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="foto_perfil" accept="image/*">
        <button type="submit">Cambiar foto de perfil</button>
    </form>
    <p>Biografía: {{ perfil.biografia }}</p>
    <p>Rol: {{ perfil.rol }}</p>
    <p>Puntos: {{ perfil.puntos }}</p>
    <p>Clasificacion: {{ clasificacion }}</p>
  </div>

  <hr>

  <h2>Proyectos</h2>
  <ul>
    {% for proyecto in proyectos %}
      <li><a href="{% url 'detalle_proyecto' proyecto.pk %}">{{ proyecto.titulo }}</a></li>
    {% empty %}
      <li>Este usuario no ha creado ningún proyecto.</li>
    {% endfor %}
  </ul>

  <hr>

  <h2>Actividades Recientes</h2>
  <ul>
    {% for actividad in actividades %}
      <li>{{ actividad.tipo_actividad }} - {{ actividad.fecha_hora }}</li>
    {% empty %}
      <li>No hay actividades recientes.</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
