{% extends 'base.html' %}
{% load static %}

{% block title %}Ranking de Usuarios - Hubinab Reward{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="ranking-page">
  <h1>Ranking de Usuarios</h1>
  <ol>
    {% for perfil in top_usuarios %}
      <li>
        <a href="{% url 'perfil_usuario' perfil.usuario.username %}">
          {{ perfil.usuario.first_name }} {{ perfil.usuario.last_name }}
        </a> - {{ perfil.puntos }} puntos 
      </li>
    {% empty %}
      <li>No hay usuarios en el ranking.</li>
    {% endfor %}
  </ol>
</div>

<!-- Agregando el botón aquí -->
<button class="btn btn-primary" onclick="window.location.href='{% url 'concurso_resultados' %}'">Ver Concursos Actuales</button>

{% endblock %}
