{% load static %}
{% load bootstrap5 %}

{% include 'header.html' %}

{% block title %}Ranking de Usuarios - Hubinab Reward{% endblock %}

<body>

  <!-- Contenido principal -->
  <main>
{% block content %}
<div class="ranking-page">
    <div class="container mt-5">
        <h1 class="text-center fw-bold">Ranking de Usuarios</h1>

        <!-- Formulario para seleccionar el rango de fechas -->
        <form method="post" class="mb-4">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.fecha_inicio.label }} {{ form.fecha_inicio }}
                </div>
                <div class="col">
                    {{ form.fecha_fin.label }} {{ form.fecha_fin }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Ver Ranking</button>
                </div>
            </div>
        </form>

        <ol class="list-group list-group-flush">
            {% for entry in ranking %}
                <li class="list-group-item">
                    <a href="{% url 'perfil_usuario' entry.usuario__username %}">
                        {{ entry.usuario__username }}
                    </a> - {{ entry.total_puntos }} puntos 
                </li>
            {% empty %}
                <li class="list-group-item">No hay usuarios en el ranking para este rango de fechas.</li>
            {% endfor %}
        </ol>
    </div>

    <!-- Botón para ver concursos actuales -->
    <div class="text-center mt-4">
        <button class="btn btn-primary" onclick="window.location.href='{% url 'concurso_resultados' %}'">Ver Concursos Actuales</button>
    </div>
</div>
</main>
</body>
{% endblock %}
{% include 'footer.html' %}
