{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %}Registro - Hubinab Reward{% endblock %}

{% block content %}
<div class="container">
    <div class="register-container">
        <h1 class="register-title">Registro de Usuario</h1>
        <form method="post" class="register-form">
            {% csrf_token %}
            {{ form.as_p }}
            
            <!-- Agregar esto al final del formulario -->
            <div class="alert alert-danger" style="display: none;">
                Las contraseñas no coinciden. Por favor, verifica y vuelve a intentar.
            </div>

            <div class="terms-container">
                <p>Al hacer clic en "Registrarse", usted acepta nuestros <a href="{% url 'aceptar_terminos' %}">Términos y Condiciones</a>.</p>
                <div class="checkbox-container">
                    <input type="checkbox" id="aceptado_terminos" name="aceptado_terminos" required>
                    <label for="aceptado_terminos">Acepto los Términos y Condiciones</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
        <p class="login-link">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
    </div>
</div>
{% endblock %}

<script>
document.getElementById('id_password2').addEventListener('blur', function() {
    var password1 = document.getElementById('id_password1').value;
    var password2 = this.value;
    
    if (password1 !== password2) {
        document.querySelector('.alert-danger').style.display = 'block';
    } else {
        document.querySelector('.alert-danger').style.display = 'none';
    }
});
</script>
